.app-body {
  @include smooth-transitions(0.5s, width);
  position: relative;

  &--desktop {
    height: 100vh;
    
    &--nav-expanded {
      width: 60vw;
      min-width: $min-body-width;
    }

    &--nav-collapsed {
      width: 74.5vw;
      min-width: $min-body-width;
    }
  }
}