.nav-bar {
  @include smooth-transitions(0.5s);
  background-color: get-color(primary);
  position: relative;

  &--desktop {
    height: 100vh;

    &.nav-bar {
      overflow-y: auto;

      &--expanded {
        min-width: 256px;
        width: 20vw;
      }

      &--collapsed {
        min-width: 88px;
        width: 5.5vw;
      }
    }

    .toggle-menu {
      color: get-color(white, 0.85);
      position: absolute;
      right: 8px;
      cursor: pointer;

      &:hover {
        color: get-color(secondary4);
      }
    }
  }

  .brand-logo {
    height: 20%;
    padding-top: 18px;
    
    &__img {
      width: 100%;
    }
  }

  .profile-background {
    padding-top: 15%;
    position: absolute;
    width: 100%;

    &__img {
      border-radius: 50%;
      height: 156px;
      width: 156px;
      display: block;
      margin: 0 auto;
    }
  }

  .profile-title {
    width: 100%;
    margin-top: 212px;
    color: get-color(secondary);
    text-align: center;

    &__name {
      text-decoration: underline;
      letter-spacing: 2px;
      font-size: 20px;
      cursor: default;
    }
  }

  .profile-icons {
    display: flex;
    justify-content: center;
    width: 100%;

    a.profile-icon {
      color: get-color(secondary);
      margin: 0 8px;

      &:hover {
        color: get-color(secondary5);
      }
    }
  }

  .profile-links {
    display: flex;
    flex-direction: column;
    padding-top: 24px;

    &__link {
      width: 100%;
      margin: 4px 0;
      text-decoration: none;

      &__btn {
        display: block;
        margin: 0 auto;
        width: 75%;
        border: none;
        background-color: get-color(secondary);
        color: get-color(white, 0.85);
        border-radius: 10px;
        font-weight: bold;
        font-size: 14px;
        padding: 2px 0;
        height: 20px;
        cursor: pointer;

        &:hover {
          background-color: get-color(secondary4);
        }

        &--active {
          color: get-color(primary);
          background-color: get-color(secondary5);

          &:hover {
            color: get-color(primary);
            background-color: get-color(secondary5);
          }
        }
      }
    }
  }

  .nav-icons {
    display: flex;
    width: 100%;
    flex-direction: column;

    &__icon-link {
      width: 100%;
      text-decoration: none;
      text-align: center;
    }

    &__icon {
      color: get-color(secondary);
      display: block;
      margin: 0 auto;

      &:hover {
        color: get-color(secondary5);
      }
    }
  }
}
