body {
  margin: 0;

  #app-container {
    width: 100vw;
    display: flex;
  }
}

div, nav, header, section, footer {
  box-sizing: border-box;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
