body {
  margin: 0;
  // Safety measure
  overflow: hidden;

  #app-container {
    width: 100vw;
    display: flex;
  }
}

div, nav, header, section, footer , h1, h2, h3, h4, h5, h6 {
  box-sizing: border-box;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
