{{#if isDesktop}}
  <h1 class="content-container__title">
    Avalon
  </h1>
{{/if}}

<section class="content-container--flex">
  <img alt="avalon-title-img" src={{concat imageRoot "project-avalon.png"}} class="content-container__title-img" />
</section>

{{#content-section
  class=contentSectionClass
  title="Description"}}
  {{partial "components/portfolio/partials/avalon-description"}}
{{/content-section}}

{{#content-section
  class=contentSectionClass
  title="Tech Stack"}}

{{/content-section}}

{{#content-section
  class=contentSectionClass
  title="Technical Details"}}
{{/content-section}}

{{#content-section
  class=contentSectionClass
  title="Gallery"}}
{{/content-section}}

{{#content-section
  class=contentSectionClass
  title="Github"}}
  <a href="https://github.com/CapriciousSmash/avalon-game" target="_blank">
    https://github.com/CapriciousSmash/avalon-game
  </a>
{{/content-section}}
