<section class={{contentSectionClass}}>
  <h2 class="content-section__title">Music</h2>
  <div class="content-section__body content-section__body--light">
    {{interests/music-player}}
  </div>
</section>
