{{#if isDesktop}}
  <h1 class="content-container__title">
    Interests
  </h1>
{{/if}}

{{#content-section
  class=contentSectionClass
  title="Games"}}
  This section is still in progress
{{/content-section}}

{{#content-section
  class=contentSectionClass
  title="Music"}}
  {{interests/music-player}}
{{/content-section}}

{{#content-section
  class=contentSectionClass
  title="Movies & TV"}}
  This section is still in progress
{{/content-section}}

{{#content-section
  class=contentSectionClass
  title="Hobbies"}}
  This section is still in progress
{{/content-section}}
